body{
    background-color: #D5EEBB;
}

h1{
    color:#5F7A61 ;
}
h2{
    color:#5F7A61 ;
}
h3{
        color:#5F7A61 ;
}
hr{
    border-width: 5px;
    border-color: gray;
    border-style: none;  
    border-top-style: dotted;
    width: 5%;   
    
     
}